.greenerwp-image-preview-wrap:not(.greenerwp-image-preview-wrap--loaded) {
	.greenerwp-image-preview {
		cursor: zoom-in;
	}
	.greenerwp-image-preview__controls {
		display: block;
	}
}

.greenerwp-image-preview-wrap {
	position: relative;
	display: inline-block;
}

.greenerwp-image-preview__controls {
	display: none;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: 1;
	color: black;
	font-size: 0.5em;
	padding: 0.2em 0.4em;
	background: rgba( white, 0.5 );
	border-top-left-radius: 2px;
}