$border-style: 1px solid #e2e4e7;

.greenerwp-recipe {
  border: $border-style;
  max-width: 1000px;
  background: white;
  margin-bottom: 10px;
}

.greenerwp-recipe__title {
  color: #72777c;
  background: #FAFAFA;
  display: block;
  width: 100%;
  border: none;
  padding: 8px 10px;
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  position: relative;
  &::before {
    display: block;
    opacity: 0.3;
    width: 0.7em;
    height: 0.7em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    float: right;
  }
}

.greenerwp-recipe__status {
  display: inline-block;
  background: #f9fbd8;
  border: $border-style;
  border-radius: 2px;
  float: right;
  padding: 0 1em;
  margin: 0 1em;
}

.greenerwp-recipe--open {
  .greenerwp-recipe__title {
    border-bottom: $border-style;
    &::before {
      content: "▲";
    }
  }

  .greenerwp-recipe__content {
    display: block;
    padding: 8px 10px;
  }
}

.greenerwp-recipe:not(.greenerwp-recipe--open) {
  .greenerwp-recipe__content {
    display: none;
  }
  .greenerwp-recipe__title {
    border-bottom: none;
    &::before {
      content: "▼";
    }
  }
}

.greenerwp-recipe--done {
  .greenerwp-recipe__status {
    background: #d8fbde;
  }
}

.greenerwp-recipe .greenerwp-recipe {
  margin-right: -10px;
  border-right: none;
}
